{%extends 'base.html'%}
{%block title%}Cities{%endblock%}

{%block content%}

<h1>Cities</h1>

<table>
    <thead>
        <th>City</th>
        <th>Country</th>
        <th>State/Province</th>
        <th>Population</th>
    </thead>
    {%for city in cities%}
    <tbody>
        <td>{{city.name}}</td>
        <td>{{city.country}}</td>
        <td>{{city.state_province}}</td>
        <td>{{city.population}}</td>
    </tbody>
    {%endfor%}
</table>

<h1>Add New City</h1>
<form action="/" method="POST">
    <input type="text" name="name" placeholder="city name">
    <input type="text" name="country" placeholder="country">
    <input type="text" name="state_province" placeholder="state/province">
    <input type="text" name="population" placeholder="population">
    <button>Submit</button>
</form>
{%endblock%}