{%extends 'base.html'%}

{%block title%}New Post{%endblock%}

{%block content%}

<h1>Add Post for {{user.first_name}}</h1>

<form method="POST">
<label for="title">Post Title
    <input type="text" name="post_title">
</label>
<br>
<label for="content">Content
    <input type="text" name="post_content">
</label>




{% for tag in tags %}
<div>
    <input type="checkbox" value="{{tag.id}}" id="tag_{{tag.id}}" name="tags">
    <label class="form-check-label" for="tag_{{tag.id}}">{{tag.name}}</label>
</div>
{% endfor %}







<button>Submit</button>
</form>

<a href="/list"><button>Cancel</button></a>

{%endblock%}